// ABeeZee Font
@font-face {
  font-family: 'ABeeZee';
  font-display: swap;
  src: url('../fonts/ABeeZee/ABeeZee-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal */
}

// Inter Font
@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('../fonts/Inter/Inter_28pt-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal */
}