// Gilda Display Font
@font-face {
  font-family: 'Gilda Display';
  font-display: swap;
  src: url('../fonts/Gilda_Display/GildaDisplay-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal */
}

// Jost Font
@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url('../fonts/Jost/Jost-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal */
}