.rd-top-contact-swiper{
  max-width: 80%;
}

@media (max-width: 450px) {
  .rd-top-contact-swiper{
    max-width: 100%;
  }
}

.rd-top-contact-swiper .swiper-button-next::after, .swiper-button-prev::after{
  display: none!important
}

.rd-header {
  @apply shadow-sm absolute top-0 left-0 w-full z-[999];
  border-bottom: 1px solid #B8D0D2;

  & ul {
    @apply pl-0 my-0;

    & li{
      @apply flex flex-col justify-center lg:pr-8;
      border-right: 1px solid #B8D0D2;
    }

    & li::before {
      @apply hidden;
    }
  }

  &-links{
    @apply lg:hover:underline;
  }

  &-social {
      &-item__link {
        @apply flex justify-center items-center w-[35px] h-[35px] border border-white12 rounded-full lg:hover:bg-maroon lg:hover:border-maroon;
      }
    }

  &-container {
  }

  &-wrapper {
    @apply flex justify-between;
  }

  &-logo {
    @apply max-w-[103px] lg:max-w-[140px]
  }

  &-nav {
    @apply flex items-center gap-[120px];

    &__button {
      @apply bg-maroon text-black border-maroon lg:hover:bg-para lg:hover:border-para lg:hover:text-white;
      display: none !important;

      @screen xl {
        display: inline-block !important;
      }
    }
  }

  &-menu {
    &-list {
      @apply flex gap-[50px];
      height: 128px
    }

    &-top {
      @apply relative;

       &:hover > .rd-header-menu-drop {
        @apply lg:block;
       }

       &:hover .rd-icon{
          @apply lg:transform lg:rotate-180;
       }
    }

    &-top__link {
      @apply text-white text-lg inline-block py-1 lg:py-3;
      font-family: 'ABeeZee';
    }

    &-top__link.dropdown.open {
      & > span > .rd-icon {
        @apply transform rotate-180 p-[17px] pl-0;
      }
    }

    &-top__link-text {
      @apply flex items-center justify-between gap-[5px] text-white;
    }

    &-drop {
      @apply lg:absolute lg:top-full lg:left-0 w-full lg:w-[220px] hidden;

      &.open {
        @apply block;
      }

      &-item{
        padding: 0!important;
        border: none!important;
      }
    }

    &-drop__link {
      @apply block py-1 lg:py-2 px-4 text-black lg:hover:text-white bg-maroon lg:hover:bg-black text-lg;
    }

    &-drop-sub {
      @apply lg:absolute lg:top-0 lg:left-full w-full lg:hidden;
    }

    &-drop-sub &-drop__link {
      @apply pl-8 lg:pl-7;
    }

    &-drop-sub-trigger:hover > &-drop-sub {
      @apply lg:block;
    }

  }

  &-mobile {
    @apply w-[50px] h-[50px] px-[14px] py-4 bg-maroon flex items-center justify-center flex-col gap-[6px];

    & span {
      @apply block w-full h-[2px] bg-black transition-all;
    }
  }

  &-mobile.open {
    @apply gap-0;

    & span:first-child {
      @apply transform rotate-45 translate-y-1/2;
    }

    & span:last-child {
      @apply transform -rotate-45 -translate-y-1/2;
    }

    & span:nth-child(2) {
      @apply hidden;
    }
  }

  &-mobile-menu {
    @apply absolute w-full top-full left-0 bg-maroon py-6 max-h-[600px] overflow-y-scroll hidden;

    & .rd-header-menu-top__link {
      @apply block text-white;
    }

    & .rd-header-menu-top__link-text {
      @apply justify-between;
    }

    & .rd-header-menu-top__link-text .rd-icon {
      @apply w-[42px] h-[42px] p-[17px] pr-0;
    }
  }

  &-mobile-menu.open {
    @apply block;
  }

  &--icon-right {
    @apply -rotate-90;
  }
}

@media (max-width: 1023px) {
  .rd-header ul li{
    border: none;
  }

  .rd-header-nav{
    height: 115px;
    padding-left: 1rem;
    border-left: 1px solid
  }

  .rd-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rd-header-menu-top__link-text, .rd-header-menu-drop__link{
    @apply text-black;
  }
}