{% extends "base.twig" %}

{% block content %}

<section class="rd-block rd-spacing rd-banner rd-banner-inner">
  <div class="rd-banner-bg">
		<img decoding="async" src="/wp-content/uploads/2025/05/home-banner-scaled.jpg" alt="" class="rd-banner-bg__image rd-responsive rd-grayscale">
	</div>
  <div class="rd-container rd-banner-wrapper">
    <div class="rd-banner-content">
			<h1 class="rd-banner__title">Woops... there is an error!</h1>
			<p class="rd-banner__text">Sorry, we couldn't find the page that you're looking for. <br> Please check url adress or use button to go to the home page!</p>
			<a href="/" target="" class="rd-banner__button btn btn-primary">Home</a>
		</div>
  </div>
</section>
{% endblock %}