html {
  overflow-x: hidden;
}
body {
  @apply bg-white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

pre{
  font-family: 'Inter', sans-serif;
}