.rd-banner {
  @apply relative;

  &-home {
    @apply pt-[240px] pb-[140px];
  }

  &-bg {
    @apply absolute w-full h-full top-0 left-0;

    &::before {
      content: "";
      @apply absolute top-0 left-0 w-full h-full bg-blackfull opacity-70 z-[2];
    }

    &__image {
      @apply object-top;
    }
  }

  &-wrapper {
    @apply relative z-[3];
  }

  &-content {
    @apply flex justify-between items-center lg:items-start w-full;
  }

  &__tag {
    @apply relative flex items-center justify-center lg:justify-start lg:gap-[15px] text-maroon text-center;

    &::before {
      content: "";
      @apply w-[60px] h-[1px] bg-maroon hidden lg:block;
    }
  }

  &__title {
    @apply mt-5 mb-[30px] lg:my-[30px] text-white text-center lg:text-left;
    font-family: 'ABeeZee';
  }

  &__text {
    @apply text-white text-center lg:text-left my-0;
  }

  &__button {
    @apply mt-[30px] lg:mt-[50px];
  }

  &-tag {
    @apply pt-12 lg:pt-[188px] flex flex-col lg:flex-row max-w-[250px] lg:max-w-full mx-auto;

    &-item {
      @apply flex gap-[15px] lg:px-[125px] lg:border-r lg:border-white30 pb-5 lg:pb-0;

      &:first-child {
        @apply lg:pl-0;
      }

      &:last-child {
        @apply lg:pr-0 lg:border-r-0 pb-0;
      }
    }

    &__icon {
      @apply w-6 lg:w-[30px] h-6 lg:h-[30px];
    }

    &__text {
      max-width: calc(100% - 45px);
      @apply text-white font-medium;
    }
  }

  &-inner {
    @apply pt-[240px] pb-[140px];
  }

  &-inner &-content {
    @apply max-w-[968px] text-center flex-col items-center justify-center mx-auto;
  }

  &-inner &__title {
    @apply mt-0 text-center;
  }

  &-inner &__text {
    @apply text-center;
  }

  &-btn {
    @apply flex gap-4;
  }
}

@media (max-width: 1023px) {
  .rd-banner-home, .rd-banner-inner{
    padding-top: 240px!important;
  }
  
  .rd-banner-content {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .rd-banner-inner{
    padding-top: 240px!important;
    padding-bottom: 140px!important;
  }
}