.rd-card {
  &-heading {
    @apply text-center;
  }

  &__title {
    @apply mt-0 mb-4;
    font-family: 'ABeeZee';
  }

  &-main {
    @apply pt-10 lg:pt-10 grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-[0px];
  }

  &-item {
    @apply relative border-[0.5px] border-grey transition-all;

    &::before {
      content: "";
      @apply absolute w-full h-full top-0 left-0 z-[1] opacity-0;
    }

    &-wrapper {
      @apply p-8 flex flex-col items-center gap-6 lg:gap-8 text-center transition-all;
    }

    &-icon {
      @apply transition-all;
    }

    &__icon {
      @apply transition-all;
      height: 220px;
      object-fit: cover;
    }

    &__title {
      font-family: 'ABeeZee';
      @apply text-2xl text-black transition-all;
    }

    &__text {
      @apply text-para transition-all my-0;
    }
  }

  &-item {
    @screen lg {
      &:hover {}

      &:hover::before {
        @apply opacity-100;
      }

      &:hover::after {
        content: "";
        @apply absolute w-full h-full top-0 left-0 bg-grey opacity-90 z-[2];
      }

      &:hover &-wrapper {
        @apply relative z-[3];
      }

      &:hover &-icon {
        @apply bg-white;
      }

      &:hover &__title,
      &:hover &__text {}

      &:hover &__button {
        @apply bg-maroon;
      }
    }
  }

  &-tag {
    @apply flex flex-col lg:flex-row justify-center pt-10 lg:pt-20;

    &__text {
      @apply relative text-[28px] font-medium text-black inline-block pb-6 lg:pb-0 lg:pr-[55px] text-center lg:text-left;

      &:nth-child(even) {
        @apply text-maroon;
      }

      &::after {
        content: "";
        @apply absolute left-1/2 lg:left-auto -translate-x-1/2 bottom-2 lg:bottom-auto lg:top-1/2 lg:-translate-y-1/2 lg:right-[23px] w-[7px] h-[7px] rounded-full bg-maroon;
      }

      &:last-child {
        @apply pb-0 lg:pr-0;

        &::after {
          @apply hidden;
        }
      }
    }
  }

  &-btn {
    @apply pt-10 lg:pt-20 flex justify-center;
  }
}

@media (max-width: 1023px) {
  .rd-card {

    &-item {
      &:nth-child(1){
        border-width: 1px;
      }
      &:nth-child(2){
        border-width: 1px;
      }
      &:nth-child(3){
        border-width: 1px;
      }
      &:nth-child(4){
        border-width: 1px;
      }
      &:nth-child(5) {
        border-width: 1px;
      }
      &:nth-child(6) {
        border-width: 1px;
      }
    }
  }
}