.rd-faq {
  &-heading {
    @apply max-w-[810px] mx-auto;

    &__title {
      @apply mt-0 mb-7 text-center;
    }

    &__text {
      @apply block text-center pl-4;
    }
  }

  &-list {
    @apply pt-10 lg:pt-20;
  }

  &-item {
    @apply mb-6 lg:hover:bg-grey transition-all lg:hover:border-grey;

    &:last-child {
      @apply mb-0;
    }

    &.open {
      // @apply bg-beige;
    }
  }

  &__question {
    @apply cursor-pointer p-2 border border-grey relative flex justify-between items-center my-0 gap-5 text-lg leading-snug lg:leading-[18px] my-4;;
  }

  &__text {
    max-width: calc(100% - (16px + 1.25rem));
    @apply pl-4
  }

  &-item.open &__question {
    @apply border-none
  }

  &__icon {
    @apply relative inline-block;
    width: 3rem;
    height: 3rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url('../images/icons/icon-faq-open.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      // @apply absolute top-1/2 -translate-y-1/2 w-full h-[2px] rounded-[2px] bg-black;
    }

    &::after {
      content: "";
      // @apply absolute left-1/2 -translate-x-1/2 w-[2px] h-4 bg-black rounded-[2px];
    }
  }

  &-item.open &__icon {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url('../images/icons/icon-faq-close.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &-answer {
    @apply hidden pt-7;
  }

  &-item.open &-answer {
    max-width: calc(100% - 48px);
    @apply w-full block mx-auto mb-6 pb-6;

    & *:first-child {
      @apply mt-0;
    }

    & *:last-child {
      @apply mb-0;
    }
  }

  &-btn {
    @apply text-center pt-10 lg:pt-20;
  }
}