.rd-flexible {
  &-image {
    @apply flex gap-10 my-[30px] lg:my-[60px];
  }

  &-button {
    @apply my-[30px] lg:my-[60px];
  }

  &-content {
    & a, & a span {
      @apply underline;
      font-weight: 700 !important;

      &:hover {
        @apply text-black;
      }
    }
  }

  .fluentform {
    font-family: 'ABeeZee' !important;

    .ff-el-group.ff_list_buttons .ff-el-form-check label>span:hover {
      @apply text-para;
    }

    .ff-el-group.ff_list_buttons .ff-el-form-check.ff_item_selected label>span {
      @apply bg-para border-para text-white;
    }

    .ff_submit_btn_wrapper {
      @apply bg-none border-none p-0;
    }

    .ff-message-success {
      box-shadow: none;
      border: none;

      p {
        margin: 0;
      }
    }
  }

  //Add simple css for table
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
  }

  table, th, td {
    border: 1px solid #E4E4E4;
  }

  th, td {
    padding: 1rem;
    text-align: left;
  }
}