.rd-inmedia {
  &-heading {
    @apply flex flex-col items-center;

    &__title {
      @apply mt-0;
    }

    &__text {
      @apply text-center;
    }
  }

  &-list {
    @apply pt-10 lg:pt-20 grid grid-cols-1 lg:grid-cols-2 gap-10;
  }

  &-item {
    @apply flex flex-col md:flex-row items-start md:items-center gap-5;

    &-image {
      @apply w-[200px] h-[250px];

      & img {
        @apply object-top;
      }
    }

    &-text {
      @screen md {
        max-width: calc(100% - 220px);
      }
    }

    &__name {
      @apply text-[28px] leading-[1.5] mb-6 mt-0;
    }
  }
}