.rd-testimonial {
  &-heading {

    &__title {
      @apply mt-0 mb-0 text-white;
    }

    &__text {
      @apply my-0;
    }
  }

  &-content {
    @apply pt-10 lg:pt-20;
  }

  &-btn {
    @apply text-center;
  }
  
  & r-p {
    overflow: visible;
  }

  & r-p rp-stars svg {
    @apply w-4 h-4;
  }

  & r-p rp-slider[data-rs="2"] rp-review-inner:before {
    @apply hidden;
  }

  & rp-review-inner {
    @apply bg-beige p-[30px] rounded-none;
    box-shadow: none;
  }

  & rp-logo {
    top: 30px;
    right: 30px;
  }

  & .rp-review-head {
    @apply pl-0 justify-center;
  }

  & rp-review-name > a {
    font-family: 'ABeeZee';
    @apply text-white font-extrabold text-[22px];
  }

  & rp-review-time {
    @apply text-lg text-white mt-2;
  }

  & rp-review-img img {
    @apply w-[60px] h-[60px] rounded-full;
  }

  & rp-review-text {
    @apply text-lg text-para leading-[1.7] mt-6;
  }

  & rp-controls {
    @apply flex justify-center gap-5 relative mt-[30px];
    top: 0 !important;

  }

  & rp-btn-prev {
    @apply relative w-[60px] h-[60px] lg:hover:bg-black transition-all flex justify-center items-center;
    border-radius: 0!important;
    
    &::before {
      content: '';
      @apply w-[60px] h-[60px];
      background: url('../images/icons/arrow-left-square.png') no-repeat center;
    }

    & svg {
      @apply hidden;
    }
  }

  & rp-btn-next {
    @apply relative w-[60px] h-[60px] lg:hover:bg-black transition-all flex justify-center items-center;
    border-radius: 0!important;

    &::before {
      content: '';
      @apply w-[60px] h-[60px] rotate-180;
      background: url('../images/icons/arrow-left-square.png') no-repeat center;
    }

    & svg {
      @apply hidden;
    }
  }

  & rp-reviews {
    @apply mx-0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply w-[58px] h-[58px] transition-all hidden;

    &:hover {
      @apply opacity-50;
    }

    @screen lg {
      @apply block;
    }
  }

  .swiper-button-prev {
    background: url('../images/icons/arrow-left-square.png') no-repeat center;
    left: -7%;
  }

  .swiper-button-next {
    background: url('../images/icons/arrow-left-square.png') no-repeat center;
    transform: rotate(180deg);
    right: -7%;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 0;
  }
}